.test__container__sm {
  width: 1360px;
}
@media all and (max-width: 767px) {
  .test__container__sm {
    width: 100%;
    padding: 0.9375em;
  }
}
@media all and (min-width: 768px) and (max-width: 1023px) {
  .test__container__sm {
    width: 760;
  }
}
@media all and (min-width: 1024px) and (max-width: 1279px) {
  .test__container__sm {
    width: 940;
  }
}
@media all and (min-width: 1280px) and (max-width: 1439px) {
  .test__container__sm {
    width: 1060;
  }
}
@media all and (min-width: 1440px) and (max-width: 1919px) {
  .test__container__sm {
    width: 1180;
  }
}
@media all and (min-width: 1920px) and (max-width: 2560px) {
  .test__container__sm {
    width: 1280;
  }
}

.test__container__md {
  width: 1780px;
}
@media all and (max-width: 767px) {
  .test__container__md {
    width: 100%;
    padding: 0.9375em;
  }
}
@media all and (min-width: 768px) and (max-width: 1023px) {
  .test__container__md {
    width: 760;
  }
}
@media all and (min-width: 1024px) and (max-width: 1279px) {
  .test__container__md {
    width: 1020;
  }
}
@media all and (min-width: 1280px) and (max-width: 1439px) {
  .test__container__md {
    width: 1180;
  }
}
@media all and (min-width: 1440px) and (max-width: 1919px) {
  .test__container__md {
    width: 1400;
  }
}
@media all and (min-width: 1920px) and (max-width: 2560px) {
  .test__container__md {
    width: 1600;
  }
}

.test__container__lg {
  width: 2080px;
}
@media all and (max-width: 1279px) {
  .test__container__lg {
    width: 100%;
    padding: 0.9375em;
  }
}
@media all and (min-width: 1280px) and (max-width: 1439px) {
  .test__container__lg {
    width: 1180;
  }
}
@media all and (min-width: 1440px) and (max-width: 1919px) {
  .test__container__lg {
    width: 1400;
  }
}
@media all and (min-width: 1920px) and (max-width: 2560px) {
  .test__container__lg {
    width: 1600;
  }
}

.test__previous__breakpoint__value {
  width: 480;
}

@media all and (max-width: 319px) {
  .test__media__range__xs__both__all {
    background-color: blueviolet;
  }
}

@media all and (min-width: 320px) and (max-width: 479px) {
  .test__media__range__xxs__both__all {
    background-color: blueviolet;
  }
}

@media all and (min-width: 480px) and (max-width: 767px) {
  .test__media__range__sm__both__all {
    background-color: blueviolet;
  }
}

@media all and (min-width: 768px) and (max-width: 1023px) {
  .test__media__range__md__both__all {
    background-color: blueviolet;
  }
}

@media all and (min-width: 1024px) and (max-width: 1279px) {
  .test__media__range__lg__both__all {
    background-color: blueviolet;
  }
}

@media all and (min-width: 1280px) and (max-width: 1439px) {
  .test__media__range__xl__both__all {
    background-color: blueviolet;
  }
}

@media all and (min-width: 1440px) and (max-width: 1919px) {
  .test__media__range__xxl__both__all {
    background-color: blueviolet;
  }
}

@media all and (min-width: 1920px) and (max-width: 2560px) {
  .test__media__range__xxxl__both__all {
    background-color: blueviolet;
  }
}

@media all and (min-width: 319px) {
  .test__media__range__xs__min__all {
    background-color: blueviolet;
  }
}

@media all and (min-width: 479px) {
  .test__media__range__xxs__min__all {
    background-color: blueviolet;
  }
}

@media all and (min-width: 767px) {
  .test__media__range__sm__min__all {
    background-color: blueviolet;
  }
}

@media all and (min-width: 1023px) {
  .test__media__range__md__min__all {
    background-color: blueviolet;
  }
}

@media all and (min-width: 1279px) {
  .test__media__range__lg__min__all {
    background-color: blueviolet;
  }
}

@media all and (min-width: 1439px) {
  .test__media__range__xl__min__all {
    background-color: blueviolet;
  }
}

@media all and (min-width: 1919px) {
  .test__media__range__xxl__min__all {
    background-color: blueviolet;
  }
}

@media all and (min-width: 2559px) {
  .test__media__range__xxxl__min__all {
    background-color: blueviolet;
  }
}

@media all and (max-width: 319px) {
  .test__media__range__xs__max__all {
    background-color: blueviolet;
  }
}

@media all and (max-width: 479px) {
  .test__media__range__xxs__max__all {
    background-color: blueviolet;
  }
}

@media all and (max-width: 767px) {
  .test__media__range__sm__max__all {
    background-color: blueviolet;
  }
}

@media all and (max-width: 1023px) {
  .test__media__range__md__max__all {
    background-color: blueviolet;
  }
}

@media all and (max-width: 1279px) {
  .test__media__range__lg__max__all {
    background-color: blueviolet;
  }
}

@media all and (max-width: 1439px) {
  .test__media__range__xl__max__all {
    background-color: blueviolet;
  }
}

@media all and (max-width: 1919px) {
  .test__media__range__xxl__max__all {
    background-color: blueviolet;
  }
}

@media all and (max-width: 2559px) {
  .test__media__range__xxxl__max__all {
    background-color: blueviolet;
  }
}

@media screen and (max-width: 2559px) {
  .test__media__range__xxxl__max__screen {
    background-color: blueviolet;
  }
}

@media screen and (min-width: 2559px) {
  .test__media__range__xxxl__min__screen {
    background-color: blueviolet;
  }
}

@media screen and (min-width: 1920px) and (max-width: 2560px) {
  .test__media__range__xxxl__both__screen {
    background-color: blueviolet;
  }
}

@media all and (max-width: 319px) {
  .test__mq__xxs__both__all {
    background-color: aquamarine;
  }
}

@media all and (min-width: 320px) and (max-width: 479px) {
  .test__mq__xs__both__all {
    background-color: aquamarine;
  }
}

@media all and (min-width: 480px) and (max-width: 767px) {
  .test__mq__sm__both__all {
    background-color: aquamarine;
  }
}

@media all and (min-width: 768px) and (max-width: 1023px) {
  .test__mq__md__both__all {
    background-color: aquamarine;
  }
}

@media all and (min-width: 1024px) and (max-width: 1279px) {
  .test__mq__lg__both__all {
    background-color: aquamarine;
  }
}

@media all and (min-width: 1280px) and (max-width: 1439px) {
  .test__mq__xl__both__all {
    background-color: aquamarine;
  }
}

@media all and (min-width: 1440px) and (max-width: 1919px) {
  .test__mq__xxl__both__all {
    background-color: aquamarine;
  }
}

@media all and (min-width: 1920px) and (max-width: 2560px) {
  .test__mq__xxxl__both__all {
    background-color: aquamarine;
  }
}

@media all and (max-width: 319px) {
  .test__mq__xxs__max__all {
    background-color: aquamarine;
  }
}

@media all and (max-width: 479px) {
  .test__mq__xs__max__all {
    background-color: aquamarine;
  }
}

@media all and (max-width: 767px) {
  .test__mq__sm__max__all {
    background-color: aquamarine;
  }
}

@media all and (max-width: 1023px) {
  .test__mq__md__max__all {
    background-color: aquamarine;
  }
}

@media all and (max-width: 1279px) {
  .test__mq__lg__max__all {
    background-color: aquamarine;
  }
}

@media all and (max-width: 1439px) {
  .test__mq__xl__max__all {
    background-color: aquamarine;
  }
}

@media all and (max-width: 1919px) {
  .test__mq__xxl__max__all {
    background-color: aquamarine;
  }
}

@media all and (max-width: 2559px) {
  .test__mq__xxxl__max__all {
    background-color: aquamarine;
  }
}

@media all and (min-width: 319px) {
  .test__mq__xxs__min__all {
    background-color: aquamarine;
  }
}

@media all and (min-width: 479px) {
  .test__mq__xs__min__all {
    background-color: aquamarine;
  }
}

@media all and (min-width: 767px) {
  .test__mq__sm__min__all {
    background-color: aquamarine;
  }
}

@media all and (min-width: 1023px) {
  .test__mq__md__min__all {
    background-color: aquamarine;
  }
}

@media all and (min-width: 1279px) {
  .test__mq__lg__min__all {
    background-color: aquamarine;
  }
}

@media all and (min-width: 1439px) {
  .test__mq__xl__min__all {
    background-color: aquamarine;
  }
}

@media all and (min-width: 1919px) {
  .test__mq__xxl__min__all {
    background-color: aquamarine;
  }
}

@media all and (min-width: 2559px) {
  .test__mq__xxxl__min__all {
    background-color: aquamarine;
  }
}

@media screen and (min-width: 1920px) and (max-width: 2560px) {
  .test__mq__xxxl__both__screen {
    background-color: aquamarine;
  }
}

@media screen and (max-width: 2559px) {
  .test__mq__xxxl__max__screen {
    background-color: aquamarine;
  }
}

@media screen and (min-width: 2559px) {
  .test__mq__xxxl__min__screen {
    background-color: aquamarine;
  }
}

@media all and (min-width: 1500px) and (max-width: 1900px) {
  .test__mq__custom__both__all {
    background-color: aquamarine;
  }
}

@media screen and (min-width: 1500px) and (max-width: 1900px) {
  .test__mq__custom__both__screen {
    background-color: aquamarine;
  }
}

@media all and (min-width: 1500px) {
  .test__mq__custom__min__both__all {
    background-color: aquamarine;
  }
}

@media screen and (min-width: 1500px) {
  .test__mq__custom__min__both__screen {
    background-color: aquamarine;
  }
}

@media all and (max-width: 1500px) {
  .test__mq__custom__max__both__all {
    background-color: aquamarine;
  }
}

@media screen and (max-width: 1500px) {
  .test__mq__custom__max__both__screen {
    background-color: aquamarine;
  }
}

.test__convert__px__to__rem {
  margin: 0.9375rem auto;
  padding: 1.25rem 1.875rem;
  width: 31.25rem;
  font-size: 1.125rem;
}

.test__convert__px__to__em {
  margin: 0.9375em auto;
  padding: 1.25em 1.875em;
  width: 31.25em;
  font-size: 1.125em;
}

.test__convert__rem__to__px {
  margin: 25.6px auto;
  padding: 32px 48px;
  width: 800px;
  font-size: 28.8px;
}

.test__convert__em__to__px {
  margin: 25.6px auto;
  padding: 32px 48px;
  width: 800px;
  font-size: 28.8px;
}

@font-face {
  font-family: "icomoon";
  src: url("font/icomoon.eot?eajehf");
  src: url("font/icomoon.eot?eajehf#iefix") format("embedded-opentype"), url("font/icomoon.ttf?eajehf") format("truetype"), url("font/icomoon.woff?eajehf") format("woff"), url("font/icomoon.svg?eajehf#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^="icon-"], [class*="icon-"] {
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-eye-sharp:before {
  content: '\e902';
}

.icon-home:before {
  content: '\e905';
}

.icon-pencil-sharp:before {
  content: '\e906';
}

.icon-person:before {
  content: '\e907';
}

.icon-person-add:before {
  content: '\e908';
}

.icon-reader:before {
  content: '\e90b';
}

.icon-settings-sharp:before {
  content: '\e90f';
}

.icon-trash-sharp:before {
  content: '\e90d';
}

.icon-eye:before {
  content: '\e90e';
}

.icon-shopping-bag:before {
  content: '\e912';
}

.icon-library_books:before {
  content: '\e913';
}

.icon-dashboard:before {
  content: '\e914';
}

.icon-minimize:before {
  content: '\e909';
}

.icon-person_add_alt_1:before {
  content: '\e915';
}

.icon-clear:before {
  content: '\e90a';
}

.icon-dashboard1:before {
  content: '\e917';
}

.icon-shopping_bag1:before {
  content: '\e918';
}

.icon-maximize:before {
  content: '\e90c';
}

.icon-shopping-bag2:before {
  content: '\e91b';
}

.icon-user:before {
  content: '\e91c';
}

.icon-book2:before {
  content: '\e91d';
}

.icon-pencil1:before {
  content: '\e911';
}

.icon-notebook:before {
  content: '\e929';
}

.icon-book:before {
  content: '\e923';
}
