// Import Loader.
@import '../loader';

.test__previous__breakpoint__value {
    width: get-previous-breakpoint(sm);
}

.test__media__range__xs__both__all {
    @media #{generate-media-range(xxs, 'both', all)} {
        background-color: blueviolet;
    }
}

.test__media__range__xxs__both__all {
    @media #{generate-media-range(xs, 'both', all)} {
        background-color: blueviolet;
    }
}

.test__media__range__sm__both__all {
    @media #{generate-media-range(sm, 'both', all)} {
        background-color: blueviolet;
    }
}

.test__media__range__md__both__all {
    @media #{generate-media-range(md, 'both', all)} {
        background-color: blueviolet;
    }
}

.test__media__range__lg__both__all {
    @media #{generate-media-range(lg, 'both', all)} {
        background-color: blueviolet;
    }
}

.test__media__range__xl__both__all {
    @media #{generate-media-range(xl, 'both', all)} {
        background-color: blueviolet;
    }
}

.test__media__range__xxl__both__all {
    @media #{generate-media-range(xxl, 'both', all)} {
        background-color: blueviolet;
    }
}

.test__media__range__xxxl__both__all {
    @media #{generate-media-range(xxxl, 'both', all)} {
        background-color: blueviolet;
    }
}

.test__media__range__xs__min__all {
    @media #{generate-media-range(xxs, 'min', all)} {
        background-color: blueviolet;
    }
}

.test__media__range__xxs__min__all {
    @media #{generate-media-range(xs, 'min', all)} {
        background-color: blueviolet;
    }
}

.test__media__range__sm__min__all {
    @media #{generate-media-range(sm, 'min', all)} {
        background-color: blueviolet;
    }
}

.test__media__range__md__min__all {
    @media #{generate-media-range(md, 'min', all)} {
        background-color: blueviolet;
    }
}

.test__media__range__lg__min__all {
    @media #{generate-media-range(lg, 'min', all)} {
        background-color: blueviolet;
    }
}

.test__media__range__xl__min__all {
    @media #{generate-media-range(xl, 'min', all)} {
        background-color: blueviolet;
    }
}

.test__media__range__xxl__min__all {
    @media #{generate-media-range(xxl, 'min', all)} {
        background-color: blueviolet;
    }
}

.test__media__range__xxxl__min__all {
    @media #{generate-media-range(xxxl, 'min', all)} {
        background-color: blueviolet;
    }
}

.test__media__range__xs__max__all {
    @media #{generate-media-range(xxs, 'max', all)} {
        background-color: blueviolet;
    }
}

.test__media__range__xxs__max__all {
    @media #{generate-media-range(xs, 'max', all)} {
        background-color: blueviolet;
    }
}

.test__media__range__sm__max__all {
    @media #{generate-media-range(sm, 'max', all)} {
        background-color: blueviolet;
    }
}

.test__media__range__md__max__all {
    @media #{generate-media-range(md, 'max', all)} {
        background-color: blueviolet;
    }
}

.test__media__range__lg__max__all {
    @media #{generate-media-range(lg, 'max', all)} {
        background-color: blueviolet;
    }
}

.test__media__range__xl__max__all {
    @media #{generate-media-range(xl, 'max', all)} {
        background-color: blueviolet;
    }
}

.test__media__range__xxl__max__all {
    @media #{generate-media-range(xxl, 'max', all)} {
        background-color: blueviolet;
    }
}

.test__media__range__xxxl__max__all {
    @media #{generate-media-range(xxxl, 'max', all)} {
        background-color: blueviolet;
    }
}

.test__media__range__xxxl__max__screen {
    @media #{generate-media-range(xxxl, 'max', screen)} {
        background-color: blueviolet;
    }
}

.test__media__range__xxxl__min__screen {
    @media #{generate-media-range(xxxl, 'min', screen)} {
        background-color: blueviolet;
    }
}

.test__media__range__xxxl__both__screen {
    @media #{generate-media-range(xxxl, 'both', screen)} {
        background-color: blueviolet;
    }
}

.test__mq__xxs__both__all {
    @include mq(xxs) {
        background-color: aquamarine;
    }
}

.test__mq__xs__both__all {
    @include mq(xs) {
        background-color: aquamarine;
    }
}

.test__mq__sm__both__all {
    @include mq(sm) {
        background-color: aquamarine;
    }
}

.test__mq__md__both__all {
    @include mq(md) {
        background-color: aquamarine;
    }
}

.test__mq__lg__both__all {
    @include mq(lg) {
        background-color: aquamarine;
    }
}

.test__mq__xl__both__all {
    @include mq(xl) {
        background-color: aquamarine;
    }
}

.test__mq__xxl__both__all {
    @include mq(xxl) {
        background-color: aquamarine;
    }
}

.test__mq__xxxl__both__all {
    @include mq(xxxl) {
        background-color: aquamarine;
    }
}

.test__mq__xxs__max__all {
    @include mq-max(xxs) {
        background-color: aquamarine;
    }
}

.test__mq__xs__max__all {
    @include mq-max(xs) {
        background-color: aquamarine;
    }
}

.test__mq__sm__max__all {
    @include mq-max(sm) {
        background-color: aquamarine;
    }
}

.test__mq__md__max__all {
    @include mq-max(md) {
        background-color: aquamarine;
    }
}

.test__mq__lg__max__all {
    @include mq-max(lg) {
        background-color: aquamarine;
    }
}

.test__mq__xl__max__all {
    @include mq-max(xl) {
        background-color: aquamarine;
    }
}

.test__mq__xxl__max__all {
    @include mq-max(xxl) {
        background-color: aquamarine;
    }
}

.test__mq__xxxl__max__all {
    @include mq-max(xxxl) {
        background-color: aquamarine;
    }
}

.test__mq__xxs__min__all {
    @include mq-min(xxs) {
        background-color: aquamarine;
    }
}

.test__mq__xs__min__all {
    @include mq-min(xs) {
        background-color: aquamarine;
    }
}

.test__mq__sm__min__all {
    @include mq-min(sm) {
        background-color: aquamarine;
    }
}

.test__mq__md__min__all {
    @include mq-min(md) {
        background-color: aquamarine;
    }
}

.test__mq__lg__min__all {
    @include mq-min(lg) {
        background-color: aquamarine;
    }
}

.test__mq__xl__min__all {
    @include mq-min(xl) {
        background-color: aquamarine;
    }
}

.test__mq__xxl__min__all {
    @include mq-min(xxl) {
        background-color: aquamarine;
    }
}

.test__mq__xxxl__min__all {
    @include mq-min(xxxl) {
        background-color: aquamarine;
    }
}

.test__mq__xxxl__both__screen {
    @include mq(xxxl, screen) {
        background-color: aquamarine;
    }
}

.test__mq__xxxl__max__screen {
    @include mq-max(xxxl, screen) {
        background-color: aquamarine;
    }
}

.test__mq__xxxl__min__screen {
    @include mq-min(xxxl, screen) {
        background-color: aquamarine;
    }
}

.test__mq__custom__both__all {
    @include mq-custom(1500, 1900) {
        background-color: aquamarine;
    }
}

.test__mq__custom__both__screen {
    @include mq-custom(1500, 1900, screen) {
        background-color: aquamarine;
    }
}

.test__mq__custom__min__both__all {
    @include mq-custom-min(1500) {
        background-color: aquamarine;
    }
}

.test__mq__custom__min__both__screen {
    @include mq-custom-min(1500, screen) {
        background-color: aquamarine;
    }
}

.test__mq__custom__max__both__all {
    @include mq-custom-max(1500) {
        background-color: aquamarine;
    }
}

.test__mq__custom__max__both__screen {
    @include mq-custom-max(1500, screen) {
        background-color: aquamarine;
    }
}

.test__convert__px__to__rem {
    margin: px2rem(15, auto);
    padding: px2rem(20, 30);
    width: px2rem(500);
    font-size: px2rem(18);
}

.test__convert__px__to__em {
    margin: px2em(15, auto);
    padding: px2em(20, 30);
    width: px2em(500);
    font-size: px2em(18);
}

.test__convert__rem__to__px {
    margin: rem2px(1.6, auto);
    padding: rem2px(2, 3);
    width: rem2px(50);
    font-size: rem2px(1.8);
}

.test__convert__em__to__px {
    margin: em2px(1.6, auto);
    padding: em2px(2, 3);
    width: em2px(50);
    font-size: em2px(1.8);
}

$FONTS: (
    'eye-sharp': '\\e902',
    'home': '\\e905',
    'pencil-sharp': '\\e906',
    'person': '\\e907',
    'person-add': '\\e908',
    'reader': '\\e90b',
    'settings-sharp': '\\e90f',
    'trash-sharp': '\\e90d',
    'eye': '\\e90e',
    'shopping-bag': '\\e912',
    'library_books': '\\e913',
    'dashboard': '\\e914',
    'minimize': '\\e909',
    'person_add_alt_1': '\\e915',
    'clear': '\\e90a',
    'dashboard1': '\\e917',
    'shopping_bag1': '\\e918',
    'maximize': '\\e90c',
    'shopping-bag2': '\\e91b',
    'user': '\\e91c',
    'book2': '\\e91d',
    'pencil1': '\\e911',
    'notebook': '\\e929',
    'book': '\\e923'
);

@include load-icon-font($FONTS, $FONT_ICONS);


.test__container__sm {
    @extend %container-sm; // Extend the placeholder to apply its styles
 }

.test__container__md {
    @extend %container-md; // Extend the placeholder to apply its styles
 }

.test__container__lg {
    @extend %container-lg; // Extend the placeholder to apply its styles
 }


 .test__column__even {
    @include generate-column(5, 15, null, null, 'even',  (
        sm: (mq-type: 'min', col: 1, gap: 10),
        md: (mq-type: 'both', col: 3, gap: 12),
        lg: (mq-type: 'both', col: 4, gap: 14)
    ));    
}

 .test__column__mixed {
    @include generate-column(5, 15, null, null, 'mixed', (
        sm: (mq-type: 'min', col: 2fr 5fr repeat(4, 1fr) 3fr, gap: 10),
        md: (mq-type: 'both', col: 1fr 3fr repeat(3, 1fr) 2fr, gap: 12),
        lg: (mq-type: 'both', col: 3fr 4fr 2fr, gap: 14)
    ));    
}
