// *-----------------------------------------------------------------
// *
// * SCSS Media Query Function
// *
// * @author      : Tafhimul Kabir
// * @version     : 0.0.01
// * @copyright   : Public Domain
// * @date        : 2023/10/17
// *
// * @description : This SCSS function file serves as a utility for 
// *                handling media queries. It contains various 
// *                helper functions.
// *
// *-----------------------------------------------------------------

// *-----------------------------------------------------------------
// * Find Previous Breakpoint
// *
// * This function retrieves the previous breakpoint value based on 
// * the current breakpoint.
// *
// * @param $breakpoint (string) - The current breakpoint identifier.
// * @param $breakpoint-config (map) - Configuration map of breakpoints.
// * @return (number) - The value of the previous breakpoint.
// *-----------------------------------------------------------------
@function get-previous-breakpoint($breakpoint) {
    $breakpoint-keys: map-keys($breakpoint-config);
    $index: index($breakpoint-keys, $breakpoint);

    @if $index > 1 {
        $previous-key: nth($breakpoint-keys, $index - 1);
        @return map-get($breakpoint-config, $previous-key);
    }

    @warn 'No previous breakpoint found for #{$breakpoint}.';
    @return null;
}

// *-----------------------------------------------------------------
// * Generate Media Query Ranges
// *
// * This function generates a media query range with min-width 
// * and/or max-width conditions for each breakpoint based on the 
// * given parameters.
// *
// * @param $breakpoint (string) - The current breakpoint identifier.
// * @param $media-type (string) - The media query type ("both", "max", or "min").
// * @param $media-screen (string) - The screen type.
// * @return (string) - Media query with min-width and/or max-width 
// * conditions for each breakpoint based on the given parameters.
// *-----------------------------------------------------------------
@function generate-media-range($breakpoint, $media-type, $media-screen) {

    $max-width: map-get($breakpoint-config, $breakpoint);
    $min-width: get-previous-breakpoint($breakpoint, $breakpoint-config);

    @if $max-width == null {
        @warn "Breakpoint #{$breakpoint} does not exist.";
        @return null;
    }

    @if $media-type == 'both' {

        @if $query-type-config == 's2l' {

            @if $breakpoint == $first-breakpoint {

                @return '#{$media-screen} and (max-width: #{($max-width - 1)}px)';

            } @else if $breakpoint == $last-breakpoint {

                @return '#{$media-screen} and (min-width: #{$min-width}px) and (max-width: #{$max-width}px)';

            } @else {

                @return '#{$media-screen} and (min-width: #{$min-width}px) and (max-width: #{($max-width - 1)}px)';

            }

            @warn 'The breakpoint: #{$breakpoint} is not supported.';
            @return null;

        } @else if $query-type-config = 'l2s' {

            @if $breakpoint == $first-breakpoint {

                @return '#{$media-type} and (max-width: #{$max-width}px)';

            } @else {

                @return '#{$media-screen} and (min-width: #{($min-width + 1)}px) and (max-width: #{$max-width}px)';

            }

            @warn 'The breakpoint: #{$breakpoint} is not supported.';
            @return null;

        }

        @warn 'The media query type: #{$query-type-config} is not supported.';
        @return null;

    } @else if $media-type == 'max' {

        @if $query-type-config == 's2l' {

            @return '#{$media-type} and (max-width: #{($max-width - 1)}px)';

        } @else if $query-type-config = 'l2s' {

            @return '#{$media-type} and (max-width: #{$max-width}px)';

        }

        @warn 'The breakpoint: #{$breakpoint} is not supported.';
        @return null;

    } @else if  $media-type == 'min' {

        @if $query-type-config == 's2l' {

            @return '#{$media-type} and (min-width: #{($max-width - 1)}px)';

        } @else if $query-type-config = 'l2s' {

            @return '#{$media-type} and (min-width: #{$max-width}px)';
            
        }

        @warn 'The breakpoint: #{$breakpoint} is not supported.';
        @return null;

    }

    @warn 'The media query type: #{$media-type} does not exist.';
    @return null;

}
