// *-----------------------------------------------------------------
// *
// * SCSS Configuration
// *
// * @author      : Tafhimul Kabir
// * @version     : 0.0.01
// * @copyright   : Public Domain
// * @date        : 2023/10/14
// *
// * @description : This SCSS configuration file contains default settings
// *                and variables used in the project's stylesheets. It
// *                defines important values like the base font size, media
// *                query breakpoints, and other global settings. These
// *                settings help maintain consistency and facilitate
// *                responsive design.
// *
// *-----------------------------------------------------------------


// *-----------------------------------------------------------------
// * Base Font Size
// *
// * This variable defines the default font size in pixels.
// * It is used as a base unit for responsive typography.
// *-----------------------------------------------------------------
$BASE_FONT_SIZE: 16;

// *-----------------------------------------------------------------
// * Media Query Breakpoints
// *
// * Define breakpoints for responsive design. These breakpoints
// * are used to define different layouts and styles for various
// * screen sizes.
// *-----------------------------------------------------------------
$BREAKPOINTS: (
    'xxs':  320,
    'xs':   480,
    'sm':   768,
    'md':   1024,
    'lg':   1280,
    'xl':   1440,
    'xxl':  1920,
    'xxxl': 2560
);

// *-----------------------------------------------------------------
// * Media Query First Breakpoint
// *
// * This variable specifies the first breakpoint used for
// * modifying the media queries. It defines the lower bound
// * of the responsive design spectrum.
// *-----------------------------------------------------------------
$FIRST_BREAKPOINT: 'xxs';

// *-----------------------------------------------------------------
// * Media Query Last Breakpoint
// *
// * This variable specifies the last breakpoint used for
// * modifying the media queries. It defines the upper bound
// * of the responsive design spectrum.
// *-----------------------------------------------------------------
$LAST_BREAKPOINT: 'xxxl';

// *-----------------------------------------------------------------
// * Media Query Type
// *
// * This variable defines the type of media queries used for
// * modifying values. Use 's2l' for small to large and 'l2s' for
// * large to small media query transformations.
// *-----------------------------------------------------------------
$MEDIA_QUERY_TYPE: 's2l';
